# Auto detect text files and perform LF normalization
* text=auto

# Stable text, hashes and generated metadata on Windows and Linux.
*.py text eol=lf
*.cs text eol=lf
*.csproj text eol=lf
*.asmdef text eol=lf
*.json text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.csv text eol=lf
*.meta text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
LICENSE text eol=lf
